.navbar-custom {
    background-color:#0A2647 !important;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
    height: 70px;
}

.navbar-custom a {
    color: #f8f8f2 !important;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    color: #f8f8f2 !important;
}

.languages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.languages li {
    padding-bottom: 10px;
    font-size: 1.1rem
}

.languages li 

.education {
    list-style: none;
    padding: 0;
    margin: 0;
}

.education .education-item {
    display: inline-block;
    vertical-align: top;
}

.education-item p {
    margin-bottom: 0px;
}

.aboutme {
    background-color:#0A2647;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pt-sans-text {
    font-family: 'PT Sans', sans-serif;
    color: #f8f8f2;
    font-size: 1rem;
}

.description {
    color: rgba(255,255,255,.6);
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8rem;
}

.pt-sans-bold-text {
    font-family: 'PT Sans Bold', sans-serif;
    font-weight: bold;
    color: #f8f8f2;
}

html, body {
    background-color: #0A2647;
    height: 100%;
}

.profile-card {
    margin-right: 15px;
}

.autobiography {
    width: 37%;
    margin-left: 15px;
}

.aboutme-flexbox {
    display: flex;
    justify-content: center;
    
}

.avatar {
    width: 270px;
    height: 270px;
    padding-right: 100px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.contact-icons li:hover i {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}


.contact-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-icons li {
    display: inline-block;
    margin-right: 10px;
    color: white;
}

.lang-ed-flexbox {
    display: flex;
    justify-content: space-between;
}

.lang-ed-flexbox {
    display: flex;
}


