.projects {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-container-projects h1 {
    padding-left: 7%;
    color: #f8f8f2;
    margin-bottom: 50px;
}

.carousel-container {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}



